
<table id="invoice-table" class="highlight centered responsive-table scroll">
    <caption>Invoices</caption>
    <thead>
        <tr>
            <th>Invoice ID</th>
            <th>Invoice Date</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Total Paid</th>
            <th>Active</th>
            {% if show_policy_link %}
            <th>Policy</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoice_id }}</td>
                <td>{{ invoice.invoice_date }}</td>
                <td>{{ invoice.payment_date }}</td>
                <td>$ {{ invoice.amount }}</td>
                <td>$ {{ invoice.total_paid }}</td>
                <td>{% if invoice.active == 1 %}True{% else %}False{% endif %}</td>
                {% if show_policy_link %}
                <td>
                    {# <a href="{{ url_for('invoice.invoice', invoice_id=invoice.invoice_id) }}" class="btn waves-effect waves-light"> #}
                    {#    <i class="material-icons">send<i> #}
                    {# </a> #}
                    <a href="/" class="btn waves-effect waves-light">
                        <i class="material-icons">send<i>
                    </a>
                </td>
                {% endif %}
                <td>
                    <a href="{{ url_for('invoice.invoice', invoice_id=invoice.invoice_id) }}" class="btn waves-effect waves-light">
                        <i class="material-icons">send<i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
