
<table id="payment-table" class="highlight centered responsive-table">
    <caption>Invoices</caption>
    <thead>
        <tr>
            <th>Payment ID</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Payment Type</th>
            {% if show_policy_link %}
            <th>Invoice</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.p_id }}</td>
                <td>{{ payment.pay_date }}</td>
                <td>$ {{ payment.amount }}</td>
                <td>{{ payment.pay_type }}</td>
                {% if show_payment_link %}
                <td>
                    {# <a href="{{ url_for('invoice.invoice', invoice_id=invoice.invoice_id) }}" class="btn waves-effect waves-light"> #}
                    {#    <i class="material-icons">send<i> #}
                    {# </a> #}
                    <a href="/" class="btn waves-effect waves-light">
                        <i class="material-icons">send<i>
                    </a>
                </td>
                {% endif %}
                <td>
                    <a href="{{ url_for('invoice.payment', p_id=payment.p_id) }}" class="btn waves-effect waves-light">
                        <i class="material-icons">send<i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
