
<table id="home_table" class="highlight centered responsive-table scroll">
    <caption>Auto Insurance Policies</caption>
    <thead>
        <tr>
            <th>Policy ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Premium</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for policy in policies if policy.p_type == 'A'%}
            <tr>
                <td>{{ policy.policy_id }}</td>
                <td>{{ policy.start_date }}</td>
                <td>{{ policy.end_date }}</td>
                <td>$ {{ policy.premium }}</td>
                <td>
                    <a href="{{ url_for('policy.policy', policy_id=policy.policy_id) }}" class="btn waves-effect waves-light">
                        <i class="material-icons">send<i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
