{% extends 'base.html' %}

{% block header %}
    <h1>Log In</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <form class="col s12" method="post">
            {{ form.csrf_token }}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
            </div>
            <button class="btn waves-effect waves-light orange" type="submit" name="action">Log In
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
{% endblock %}
